dill
numpy<2.0.0
scipy
tqdm
gymnasium
ipython
pygame
ipywidgets
opencv-python
flask
flask-socketio
wandb
GitPython
memory_profiler
sacred
pymongo
matplotlib
requests
seaborn==0.9.0
ray[rllib,tune]==2.2
protobuf
tensorflow[and-cuda]==2.19.0
setuptools>=77.0.3
gym
