certifi
click
dnspython
dill
Flask==2.1.0
Flask-SocketIO==4.3.0
greenlet
itsdangerous
Jinja2==3.1.0
MarkupSafe
monotonic
python-engineio==3.13.0
python-socketio==4.6.0
six
Werkzeug==2.0.3
requests
protobuf
